.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: auto;
  }
    
  .example-full-width {
    width: 100%;
  }
  
  .select {
    margin-top: 18px;
  }
  
  mat-card {
    width: 654px;
    margin: auto;
    position: relative;
    height: auto;
    margin-top: 22PX;
    top: 63px;
  }

  h1 {
    margin-top: 73px;
    text-align: center;
  }

  .container-1 {
    width: 542px;
    min-height: 40vh; 
    background-color: rgba(140, 140, 250, 0.2);
  }

  .button {
    top: 130px;
    margin-left: 10px;
  }

  mat-progress-spinner {
    display: block;
    position: relative;
    left: 73px;
  }

  .h1 {
    position: relative;
    top: -122px;
  }
  