<div  class="container-fluid main">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark" style="position: relative;">
        <a class="navbar-brand" href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <button type="button" class="btn btn-primary button" data-toggle="collapse" data-target="#demo"><i class="fa fa-bars" aria-hidden="true"></i></button>
        <div id="demo" class="collapse nav-list">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" >Link 1</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" >Link 2</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" >Link 3</a>
                </li>
            </ul>
        </div>
        <div>
            <form class="form">
                <div>
                    <input type="text" class="form-control" placeholder="Email"  name="email">
                </div>
                <button>
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
        </div>
        <div class="userInfo">
            <div style="display: flex;">
                <div>
                    <i class="fa fa-user i" aria-hidden="true"></i>
                </div>
                <p>profile</p>
            </div>
            <div>
                <i class="fa fa-caret-down i" aria-hidden="true"></i>
            </div>
            <div>
                <i class="fa fa-bell i" aria-hidden="true"></i>
            </div>
        </div>
    </nav>
    <div class="restarents">
        <div *ngIf="view">
            <h1 class="viewH1">{{myRestaurent}}</h1>
            <div>
                <button mat-button color="primary">Order</button>
                <button mat-button color="primary">Favorite</button>
            </div>
            <div class="imgDiv">
                <img class="img" src="{{restarentImg}}" alt="hotel" class="viewImg">
            </div>
        </div>
    </div>
    <div class="restarent">
        <h1>Restarents</h1>
        <mat-selection-list  [multiple]="false" *ngFor="let restarent of restarens" [value]="restarent">
            <mat-list-option  (click)="openview(restarent)">
              <div>{{restarent.name}}</div>
              <img class="img" src="{{restarent.image}}" alt="hotel">
              <!-- <div>{{restarent.position.lat}}</div> -->
            </mat-list-option> 
          </mat-selection-list>
    </div>
    <div class="map">
        <google-map   
        height="525px"
        width="100%"
        [center]='center'
        >
            <map-marker
            *ngFor="let marker of markers"
            [position]="marker.position"
            [label]="marker.label"
            [title]="marker.title"
            [options]="marker.options"
            >
            </map-marker>
        </google-map> 
        <button (click)="addMarker()">Add marker</button>
    </div>
</div>


