<div  class="container-fluid main">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark" style="position: relative;">
        <a class="navbar-brand" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
        <button type="button" class="btn btn-primary button" data-toggle="collapse" data-target="#demo"><i class="fa fa-bars" aria-hidden="true"></i></button>
        <div id="demo" class="collapse nav-list">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" >Link 1</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" >Link 2</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" >Link 3</a>
                </li>
            </ul>
        </div>
        <div>
            <form class="form">
                <div>
                    <input type="text" class="form-control" placeholder="search"  name="search"  autocomplete="off">
                </div>
                <button>
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
        </div>
        <div class="userInfo">
            <div style="display: flex;">
                <div>
                    <i class="fa fa-user i" aria-hidden="true"></i>
                </div>
                <p>profile</p>
            </div>
            <div>
                <i class="fa fa-caret-down i" aria-hidden="true"></i>
            </div>
            <div>
                <i class="fa fa-bell i" aria-hidden="true"></i>
            </div>
        </div>
    </nav>
    <div class="view">
        <youtube-player 
        videoId="{{viewLink}}" 
        suggestedQuality="highres" 
        [height]="300" 
        [width]="580" 
        >
        </youtube-player>
    </div>
    <div class="comment">
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Comment</mat-label>
              <input matInput placeholder="Ex. Good" [(ngModel)]="comment" name="comment" autocomplete="off">
            </mat-form-field>
            <button mat-raised-button color="primary" class="comment-post" (click)="post()">post</button>
          </form>
    </div>
    <div class="list">
        <h1 class="comments-list-h1">Comments</h1>
        <mat-selection-list #shoes [multiple]="false">
            <mat-list-option *ngFor="let comment of comments" [value]="comment">
              {{comment}}
            </mat-list-option>
          </mat-selection-list>
    </div>
    <div class="trending">
        <mat-selection-list  #shoes [multiple]="false">
            <h1 style="text-align: center;">Trending</h1>
            <mat-list-option *ngFor="let link of trendingVideos; let i = index;" [value]="link" class="list-hight">
                <!-- <iframe width="420" height="315"
                [src]="getEmbed(link)">
                </iframe> -->
                <youtube-player 
                videoId="{{link.link}}" 
                suggestedQuality="highres" 
                [height]="100" 
                [width]="180" 
                class="trendingVideos"
                [disabled]="true"
                >
                </youtube-player>
                <p class="trending-p" (click)="navigate(link.link)">{{link.description}}</p>
            </mat-list-option>
          
          </mat-selection-list>
    </div>
    <div class="suggestion">

    </div>
</div>

