<mat-card>
    <h1> Angular material datepicker</h1>
    <mat-form-field color="accent" appearance="fill">
        <mat-label>Inherited calendar color</mat-label>
        <input matInput [matDatepicker]="picker1" [min]="minDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <h3>Rangedatepicker</h3>
    <div>
        <input type="text" ngxDaterangepickerMd [(ngModel)]="selected" class="form-control "/>
    </div>
</mat-card>
<mat-card>
    <h1>Bootstrap datepicker</h1>
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd"
            name="datepicker" [(ngModel)]="datepicker" type="text" bsDatepicker [min]="minDate">
        </div>
    </div> 
    <h3>Rangedatepicker</h3>
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd"
            name="datepicker" [(ngModel)]="datepicker" type="text" bsDaterangepicker>
        </div>
    </div>            
</mat-card>

<mat-card>
    <h1>Format date</h1>
    <mat-form-field color="accent" appearance="fill">
        <mat-label>Inherited calendar color</mat-label>
        <input matInput [matDatepicker]="formatepicker"  [(ngModel)]="date" name="date">
        <mat-datepicker-toggle matSuffix [for]="formatepicker"></mat-datepicker-toggle>
        <mat-datepicker #formatepicker></mat-datepicker>
    </mat-form-field>
    <div>
        <mat-form-field appearance="fill"  class="example-full-width select">
            <mat-label>Formate</mat-label>
            <mat-select required [(ngModel)]="dateFormate" name="dateFormate" (selectionChange)="formate(dateFormate)">
            <mat-option *ngFor="let x of formateList" [value]="x.value">
                {{x.viewValue}}
            </mat-option>
            </mat-select>
        </mat-form-field> 
    </div>
</mat-card>

    
