<div style="display: flex;">
<div>
    <mat-action-list>
        <h1>Mockup practice</h1>
        <button mat-list-item  (click)="forms()">Forms</button>
        <button mat-list-item   (click)="datePicker()">Datepicker</button>
        <button mat-list-item   (click)="dataTransfer()">Data transfer</button>
        <button mat-list-item   (click)="directive('password')">Directive password task</button>
        <button mat-list-item   (click)="directive('loader')">Directive loader task</button>
        <button mat-list-item   (click)="uploader('img')">Uploader img</button>
        <button mat-list-item   (click)="uploader('pdf')">Uploader pdf</button>
        <button mat-list-item   (click)="login()">First task</button>
        <button mat-list-item   (click)="multi()">Multi-language task</button>
        <button mat-list-item   (click)="gitApi()">git-Api task</button>
        
      </mat-action-list>
</div>
<div class="rooter">
    <router-outlet></router-outlet>
</div>
</div>