<div style="display: flex;">
<div>
    <mat-action-list>
        <h1>Mockup practice</h1>
        <button mat-list-item  (click)="forms()">Forms</button>
        <button mat-list-item   (click)="datePicker()">Datepicker</button>
        <button mat-list-item   (click)="dataTransfer()">Data transfer</button>
        <button mat-list-item   (click)="directive()">Directives task</button>
        <button mat-list-item   (click)="uploader('img')">uploader img</button>
        <button mat-list-item   (click)="uploader('pdf')">uploader pdf</button>
        <button mat-list-item   (click)="login()">First task</button>
        
      </mat-action-list>
</div>
<div class="rooter">
    <router-outlet></router-outlet>
</div>
</div>