<div style="display: flex;">
<div>
    <mat-action-list>
        <h2>Mockup practice</h2>
        <button mat-list-item  (click)="forms()">Forms</button>
        <button mat-list-item   (click)="datePicker()">Datepicker</button>
        <button mat-list-item   (click)="dataTransfer()">Data transfer</button>
        <button mat-list-item   (click)="directive('password')">Directive password task</button>
        <button mat-list-item   (click)="directive('loader')">Directive loader task</button>
        <button mat-list-item   (click)="uploader('img')">Uploader img</button>
        <button mat-list-item   (click)="uploader('pdf')">Uploader pdf</button>
        <button mat-list-item   (click)="multi()">Multi-language task</button>
        <button mat-list-item   (click)="gitApi()">Git-Api task</button>
        <h2>Advanced mackup</h2>
        <button mat-list-item   (click)="typehed()">Typeahead task</button>
        <button mat-list-item   (click)="youtube()">Youtube task</button>
        <button mat-list-item   (click)="food()">foodApp task</button>
        <button mat-list-item   (click)="socialLogins()">SocialLogins task</button>
        <button mat-list-item   (click)="mouseMove()">Cursor pointer</button>
        <h2>first task</h2>
        <button mat-list-item   (click)="login()">First task</button>
      </mat-action-list>
</div>
<div class="rooter">
    <router-outlet></router-outlet>
</div>
</div>