<mat-card>
    <h1>Parent component</h1>
    <form class="example-form">
        <mat-form-field class="example-full-width">
        <mat-label>Your Name</mat-label>
        <input matInput placeholder="Ex. Vinay" [(ngModel)]="name" name="name">
        </mat-form-field>
        <div>
            <h3>Gender</h3>
            <mat-radio-group aria-label="Select an option" [(ngModel)]="gender" name="gender">
                <mat-radio-button value="male">male</mat-radio-button>
                <mat-radio-button value="female">female</mat-radio-button>
                <mat-radio-button value="other">other</mat-radio-button>
            </mat-radio-group>
        </div>
        <div>
            <mat-form-field appearance="fill"  class="example-full-width select">
                <mat-label>Country</mat-label>
                <mat-select [(ngModel)]="selectedValue" name="country">
                <mat-option *ngFor="let x of Country" [value]="x.value">
                    {{x.viewValue}}
                </mat-option>
                </mat-select>
            </mat-form-field> 
        </div>
        <button mat-raised-button color="primary" [disabled]="!name || !gender || !selectedValue" (click)='submit()'>SUBMIT</button>
    </form> 
</mat-card>
<br>
<app-child-data [parentData]="parentData"></app-child-data>