<button mat-raised-button color="accent" (click)="home()">HOME</button>
<mat-card class="mat-card">  
    <button mat-button color="warn" class="forgot" (click)="forgot()">Know your password</button>
    <button mat-button color="warn" class="forgot changeButton" (click)="reset()">Change your password</button>
</mat-card>
<mat-card *ngIf="knowChange" class="know-mat">
    <form class="example-form" >
        <h1>To know your password</h1>
        <mat-form-field class="example-full-width">
            <mat-label>Your Name</mat-label>
            <input matInput placeholder="Ex. Vinay"  [(ngModel)]="viewName" name="viewName">
        </mat-form-field>
       <h3>{{knownPassward}}</h3>
        <p *ngIf="knowError">Please check your user name</p>
        <button mat-raised-button color="primary" [disabled]="!viewName" (click)="know()">know</button>   
    </form> 
</mat-card>
<mat-card *ngIf="forgotChange" class="change-mat">
    <form class="example-form" >
        <h1>Enter your new password</h1>
        <mat-form-field class="example-full-width">
            <mat-label>Your Name</mat-label>
            <input matInput placeholder="Ex. Vinay"  [(ngModel)]="name" name="name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Your Password</mat-label>
            <input matInput placeholder="Ex.****" type="password" [(ngModel)]="password" name="password">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label> Re-Password</mat-label>
            <input matInput placeholder="Ex.****" type="password" [(ngModel)]="rePassword" name="rePassword">
        </mat-form-field>
        <p *ngIf="error">Please check your user name</p>
        <button mat-raised-button color="primary" [disabled]="!name || !password || !rePassword" (click)="login()">login</button>   
    </form> 
</mat-card>
