.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}
    
.example-full-width {
    width: 100%;
}

.mat-card {
    width: 654px;
    margin: auto;
    position: relative;
    height: 45px;
    margin-top: 22PX;
    top: 63px;
}

.know-mat {
    width: 654px;
    margin: auto;
    position: relative;
    height: 200px;
    margin-top: 22PX;
    top: 63px;
}

.change-mat {
    width: 654px;
    margin: auto;
    position: relative;
    height: 303px;
    margin-top: 22PX;
    top: 63px;
}

p {
    color: red;
} 

.changeButton {
    margin-left: 285px;
}