mat-card {
    width: 464px;
    margin: auto;
    position: relative;
    height: 319px;
    margin-top: 22PX;
    top: 69px;
    height: auto;
}

button {
    width: 163px;
    margin-left: 151px;
    margin-top: 33px;
}

.button { 
    position: absolute;
    display: block;
    top: 130px;
}

h1 {
    text-align: center;  
}

.authButton {
    margin-top: 92px;
}

ul {
    background: white;
    position: absolute;
    left: 147px;
    top: -128px;
    width: 217px;
}

.h1 {
    margin-right: 48px;
}

